body{
  margin: 0;
  padding: 0;
  text-align: center;
  background: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  font-family: sans-serif;
}

.contact-title{
  margin-top: 60px;
  color: rgb(247, 242, 242);
  text-transform: uppercase;
  transition: all 2s ease-in-out;
}

.contact-title h1{
  font-size: 32px;
  line-height: 10px;
}
.contact-title h2{
  font-size: 16px;
}

form{
  margin-top: 15px;
  transition: all 2s ease-in-out;
}

.form-control{
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(245, 243, 243);
  color: rgb(247, 241, 241);
  font-size: 18px;
  margin-bottom: 16px;
}

input{
  height: 45px;
}

form .submit{
  background: #ff5722;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover{
  background-color: #f44336;
  cursor: pointer;
}

.navbar{
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}

nav{
  flex: 1;
  padding-left: 60px;
  float: right;
  list-style-type: none;
margin-top: 25px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}

nav ul li a{
  text-decoration: none;
  color: rgb(247, 242, 242);
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.5s ease;
}

nav ul li a:hover{
  background-color: #fff;
  color: #000;}

nav ul li.active a{
    background-color: #fff;
  color: #000;}
