body{
  background-image: url(https://images.pexels.com/photos/2623679/pexels-photo-2623679.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: auto;
  font-family: tahoma;
  overflow: hidden;
}
.main-banner-section{
  position: relative;
  padding: 0px 15px 150px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.main-banner-section .text p{
  color: white;
}
p, text{
  position: relative;
  line-height: 1.8em;
  font-family: tahoma;
  text-align: justify;
}

.sec-title.ligth .title, .sec-title.light h2{
  color: white;
}
.btn-style-one{
  position: relative;
  line-height: 30px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: 10px solid #fdb40e;
  background: #fdb40e;
  text-transform: capitalize;
}
.theme-btn{
  display: inline-block;
  transition: all 0.3 ease;
}
.btn-style-one:hover{
  background-color: transparent;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 10px solid white;
}

.sec-title:before{
  position: absolute;
  content: '';
  left: 15px;
  top: 18px;
  height: 4px;
  width: 110px;
  background:white;
}

ul{ 
  float: right;
  list-style-type: none;
margin-top: 25px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.5s ease;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}
ul li.active a{
    background-color: #fff;
  color: #000;
